[user]
    name = Ordep-42
    email = 90785456+Ordep-42@users.noreply.github.com

[alias]
    last = log -1 HEAD
    part = add --patch
	main = checkout main
	stts = status

[init]
	defaultBranch = main

[color]
	ui = auto

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[color "branch"]
	local = green
	current = green reverse
	remote = yellow

[color "diff"]
	meta = yellow
	frag = magenta
	old = red bold
	new = green bold
	commit = yellow bold

[pull]
	rebase = false
